<h1><span class="glyphicon glyphicon-user"></span> Characters</h1>

<div data-ng-controller="CharactersListCtrl">

    <div class="text-center">
        <form class="form-inline">
            <input class="form-control" data-ng-model="searchQuery" style="width: 25%;">
            <button class="btn btn-default" data-ng-click="search()">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
            <button class="btn btn-primary" data-ng-click="imFeelingLucky()">
                <span class="glyphicon glyphicon-thumbs-up"></span> I'm Feeling Lucky !
            </button>
        </form>
    </div>

    <table class="table table-striped table-condensed table-hover" style="margin-top: 40px;">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="character in characters">
            <td>
                <a href="#/characters/{{character._id}}">{{character._id}}</a>
            </td>
            <td>{{character.name}}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <pagination ng-model="currentPage"
                    ng-change="pageChanged()"
                    total-items="totalItems"
                    items-per-page="itemsPerPage"
                    max-size="maxSize"
                    num-pages="numPages"
                    boundary-links="true"
                    rotate="false">
        </pagination>
    </div>

</div>