<h1><span class="glyphicon glyphicon-user"></span> Characters</h1>

<div data-ng-controller="CharactersDetailsCtrl">
    <h2>{{character.name}}</h2>

    <div class="row">
        <div class="col-md-2">
            <img data-ng-src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="img-responsive"/>
        </div>
        <div class="col-md-8 text-justify">
            {{character.description}}
        </div>
    </div>

    <div data-ng-show="character.comics.returned > 0">
        <h3>Related comics</h3>

        <p data-ng-show="character.comics.returned != character.comics.available">
            This is just a sampled list ... ({{character.comics.returned}} / {{character.comics.available}})
        </p>

        <ul>
            <li data-ng-repeat="comic in character.comics.items">
                <a data-ng-href="#/comics/{{comic.id}}">
                    {{comic.name}}
                </a>
            </li>
        </ul>

    </div>
</div>