<h1><span class="glyphicon glyphicon-user"></span> Characters</h1>

<div data-ng-controller="CharactersListCtrl">
    <table class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="character in characters">
            <td>
                <a href="#/characters/{{character._id}}">{{character._id}}</a>
            </td>
            <td>{{character.name}}</td>
        </tr>
        </tbody>
    </table>
</div>