<h1><span class="glyphicon glyphicon-user"></span> Characters</h1>

<div data-ng-controller="CharactersListCtrl">

    <div class="row text-center">
        <h2>Search by character name</h2>
        <div class="col-md-4 col-md-offset-4 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" data-ng-model="searchQuery" data-ng-change="search()" placeholder="Enter a character name ...">
        </div>
    </div>
    <div class="text-center" style="margin-top: 20px;">
        <button class="btn btn-primary" data-ng-click="imFeelingLucky()">
            <span class="glyphicon glyphicon-thumbs-up"></span> I'm Feeling Lucky !
        </button>
    </div>

    <table class="table table-striped table-condensed table-hover" style="margin-top: 40px;">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        <tr data-ng-repeat="character in characters">
            <td>
                <a href="#/characters/{{character._id}}">{{character._id}}</a>
            </td>
            <td>{{character.name}}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <pagination ng-model="currentPage"
                    ng-change="pageChanged()"
                    total-items="totalItems"
                    items-per-page="itemsPerPage"
                    max-size="maxSize"
                    num-pages="numPages"
                    boundary-links="true"
                    rotate="false">
        </pagination>
    </div>

</div>