<div class="jumbotron">
    <h1>MongoDB Workshop</h1>

    <p>Learn how to use : </p>
    <ul>
        <li>Basic queries</li>
        <li>Paginated queries</li>
        <li>Full text search</li>
        <li>Aggregation framework</li>
    </ul>

    <p>
        <small>
            This application uses a dataset created using the <a href="https://developer.marvel.com/">Marvel
            Developer API</a>
        </small>
        .
    </p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <div>
            <h2><a href="#/characters">Browse characters ...</a></h2>
        </div>
        <div>
            <img src="assets/images/character.jpg" alt="Characters" class="img-thumbnail" style="height: 400px;">
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div>
            <h2><a href="#/comics">Browse comics ...</a></h2>
        </div>
        <div>
            <img src="assets/images/comic.jpg" alt="Comics" class="img-thumbnail" style="height: 400px;">
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div>
            <h2><a href="#/creators">Browse creators ...</a></h2>
        </div>
        <div>
            <img src="assets/images/creator.jpg" alt="Creators" class="img-thumbnail" style="height: 400px;">
        </div>
    </div>
</div>
